.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__nav {
  display: flex;
  align-items: center;
}

.site-header__contacts {
  margin-left: auto;
}

.site-header {
  border-bottom: 1px solid $borderColor;
}
